<!-- <p>navbar works!</p>
<div class="navbar">
	<div class="tilde-container">

		<ul>
			<li><a routerLinkActive="active-link" [routerLink]="'/task1'"> Task 1</a></li>
			<li><a routerLinkActive="active-link" [routerLink]="'/task2'"> Task 2</a></li>
		</ul>
	</div>
  </div> -->
  <nav class="navbar">
	<div class="logo">
	  <img
		src="https://cdn.worldvectorlogo.com/logos/tilde.svg"
		alt="logo"
	  />
	</div>
	<ul class="list">
		<li class='item'><a routerLinkActive="active-link" [routerLink]="'/task1'"> Task 1</a></li>
		<li  class='item'><a routerLinkActive="active-link" [routerLink]="'/task2'"> Task 2</a></li>
	</ul>
  </nav>