@import '../../styles/index.scss';

:host{
    display: flex;
    flex-direction: column;
}
.button {
    @include transition;
    @include phone {
        font-size: 1rem;
        line-height: 2rem;
    }
    &:hover {
        opacity: 0.9;
    }

  }

  .small{
    padding: 0.2rem 0.4rem;
    font-size: 0.7rem;
    line-height: 1rem;
  }
